<div> 
  {{>navbar/nav}}
</div>

<h3> Build Your Team</h3>

        {{!-- <form id="searchTeam" class="button-size" method="post" action="/players">
          <input type="text" name="player_name" placeholder="search">
          <button> search</button>
        </form> --}}
<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div id="select-team" class="cell">
      <table> 
        <caption> Players Availabe</caption>
          <tr>
            <th> Name </th>
            <th> Number </th>
            <th> Position </th>
            <th> Experince </th>
            <th> Add to Team </th>
          </tr>
          {{#each players}}
          <tr>

            <th>{{playerName}}</th>
            <th>{{jerseyNumber}}</th>
            <th>{{position}}</th>
            <th>{{exp}}</th>
            <th><button id="addBtn"type="button" data-toggle="example-dropdown-top-center" data-apiId ="{{playerId}}">Add</button></th>
          </tr>
          {{/each}}
      </table>

    </div>

    <button id="saveBtn"type="button" data-toggle="example-dropdown-top-center"></button>
    <div class="cell">
      <div class="card-section">
            
  
        </div>



{{!-- <script type="text/javascript">
    $(".delete").on("click", function(event) {
        let id = $(this).data("teambox");

        $.ajax("/api/ /" + id, {
        type: "DELETE"
        }).then(
            function() {
            console.log("deleted id ", id);
            location.reload();
            }
        );
    });
</script> --}}


<!-- 
  add functionality db PUT call to create a team 
  store team_name and user_id 
  get db call to receive user_id 
  -->